---
import Layout from '../layouts/Layout.astro';
import HeaderDefault from '../components/HeaderDefault.astro'
import ListFAQ from '../components/FAQ/ListFAQ.jsx';
---

<Layout title='Preguntas frecuentes'>
    <HeaderDefault title="Preguntas frecuentes" urlImgBG="/imgs/background/header.jpg" />
    <main class="max-w-screen-xl p-8 md:px-20 m-auto">                      
        <ListFAQ client:visible />
    </main>
</Layout>