---
import Layout from '../layouts/Layout.astro';

//Components
import SGMHeader from '../components/index/SGMHeader.astro';
import SGMAbout from '../components/index/SGMAbout.astro';
import SGMServices from '../components/index/SGMServices.astro';
---

<Layout title="SGM" >
	<SGMHeader/>
	<main >					
		<SGMServices/>
		<SGMAbout/>
	</main>
	
</Layout>

