---
import CardLawyer from './CardLawyer.jsx'

import {listLawyers} from '../data/infoSGM.js';
---
<section class="my-8 md:my-16">
    <h3 class="text-center text-xl mb-8 md:mb-16">Nuestro equipo</h3>
    <div class="w-full grid grid-cols-[repeat(auto-fill,_minmax(250px,_280px))] justify-evenly gap-8">
        {listLawyers.map(lawyer=><CardLawyer client:visible props={lawyer}/>)}    
    </div>
</section>
