---

---

<div class="md:h-screen w-full bg-primaryDark flex flex-col items-center justify-center p-8 md:justify-between md:gap-20 md:px-20 md:flex-row">
    <div class="h-full flex flex-col items-center justify-center gap-8 md:w-1/2">
        <h3 class="text-2xl text-center">Cómo actuamos</h3>
        <p class="text-justify">
            Nos enfocamos en proporcionarle a nuestros clientes la mejor atención en asesorías legales, brindando un acompañamiento permanente con nuestros expertos y con la mayor cobertura a nivel nacional e internacional; amplia gama de servicios, además con la calidad humana que nos caracteriza, el mejor servicio, la mejor atención y agilidad en tus procesos.
        </p>
    </div>
    <div class="img w-1/2 h-full hidden md:flex"></div>
</div>

<style>
    .img{
        background-image: url(/public/imgs/pictures/lawyer.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>