---
import {Button} from "@nextui-org/react";

---

<div class="h-screen w-full bg-primaryDark content-end px-8 md:px-20">
    <div class="h-4/5 flex bg-red-300">
        <div class="w-1/2">
            <h2>Cómo actuamos ante la ley</h2>
            <p>La cuenta de resultados de nuestros clientes es nuestra máxima prioridad. Estamos en constante comunicación con las personas a las que servimos y nos comprometemos a avanzar en las necesidades y deseos inmediatos de nuestros clientes. Nuestro equipo trabaja las veinticuatro horas del día para proporcionar los servicios y el apoyo necesarios que cada cliente necesita de nosotros.</p>
            <Button color="primary" variant="ghost">Saber más</Button>
        </div>
        <div class="w-auto h-full">
            <img src="/public/imgs/pictures/lawyer.webp" alt="">
        </div>
    </div>    
</div>