---

---

<div class="md:h-screen w-full bg-primaryDark flex flex-col items-center justify-center p-8 md:justify-between md:gap-20 md:px-20 md:flex-row">
    <div class="h-full flex flex-col items-center justify-center gap-8 md:w-1/2">
        <h3 class="text-2xl text-center">Cómo actuamos ante la ley</h3>
        <p class="text-justify">
            La cuenta de resultados de nuestros clientes es nuestra máxima prioridad. Estamos en constante comunicación con las personas a las que servimos y nos comprometemos a avanzar en las necesidades y deseos inmediatos de nuestros clientes. Nuestro equipo trabaja las veinticuatro horas del día para proporcionar los servicios y el apoyo necesarios que cada cliente necesita de nosotros.
        </p>
    </div>
    <div class="img w-1/2 h-full hidden md:flex"></div>
</div>

<style>
    .img{
        background-image: url(/public/imgs/pictures/lawyer.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>