---
import {Button} from "@nextui-org/react";
---

<header>
	<div class="relative h-full p-8 flex flex-col justify-center gap-5 max-w-screen-lg w-full md:w-7/12 md:p-20">
		<h1 class="text-4xl text-center text-primary">Consultores S.G.M S.A.S</h1>
		<p class="text-justify tracking-wide">
			Somos una empresa de consultores jurídicos que ofrece servicios legales y de asesoría a particulares y empresas.
			<br/>
			¿Tiene alguna consulta legal? Estamos dispuestos a asesorarlo.</p>
		<Button color="primary" variant="ghost">Saber más</Button>
	</div>
</header>

<style>
	header{
		height: 100vh;
		width: 100%;
		position: relative;
		background-image: url("/imgs/background/header.jpg");
		background-size: cover;
		background-repeat: no-repeat;	
		background-position: center;	
	}
	header::before{
		content: "";
		width: 100%;
		height: 100%;		
		position: absolute;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(2px);	
	}
</style>