---
import {Button, ButtonGroup} from "@nextui-org/react";
---

<header>
	<div class="relative w-full md:w-8/12 lg:w-7/12 h-full p-20 flex flex-col justify-center gap-5">
		<h1 class="text-6xl text-center">SGM S.A.S</h1>
		<p class="text-justify tracking-wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias suscipit doloribus asperiores amet perferendis illo consequatur magni aspernatur facilis fugiat voluptatem</p>
		<Button color="primary" variant="ghost">Saber más</Button>
	</div>
</header>

<style>
	header{
		height: 100vh;
		width: 100%;
		position: relative;
		background-image: url("/imgs/background/header.jpg");
		background-size: cover;
		background-repeat: no-repeat;	
		background-position: center;	
	}
	header::before{
		content: "";
		width: 100%;
		height: 100%;		
		position: absolute;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(2px);	
	}
</style>