---
import {Button} from "@nextui-org/react";
import {Image} from "@nextui-org/react";
---

<header class='relative min-h-screen w-full bg-[url("/imgs/background/header.jpg")] bg-cover bg-no-repeat bg-center flex justify-center items-center p-8 md:p-20'>
	<div class="relative w-full h-full flex flex-col items-center justify-around gap-4 md:flex-row">
		<Image src="/imgs/logos/light-logo.png" alt="Logo SGM" className="m-auto" client:visible></Image>
		<div class="flex flex-1 flex-col items-center gap-8">
			<p class="text-justify tracking-wide">
				Somos una empresa de consultores jurídicos que ofrece servicios legales y de asesoría a particulares y empresas.
				<br/>
				¿Tiene alguna consulta legal? Estamos dispuestos a asesorarlo.</p>
			<Button color="primary" variant="ghost">Contactanos</Button>
		</div>
	</div>
</header>
<style>
	header::before{
		content: "";
		width: 100%;
		height: 100%;		
		position: absolute;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(2px);	
	}
</style>